{
    "extends":
    [
        "tdp/node",
        "tdp/ava",
        "tdp/flow-types"
    ],
    "plugins":
    [
        "babel"
    ],
    "rules":
    {
        "complexity": [2, 12],
        "babel/object-shorthand": ["error", "never"],
        "ava/no-cb-test": 0,
        "ava/max-asserts": ["error", 15]
    }
}
